
.about{
    figure{
        margin-bottom:0;
        img{
            display: block;
            width: 100%;
        }
    }
    article{
        max-width: 600px;
    }
    .btn-secondary{
        border:2px solid darken($secondary, 20%);
        background: darken($secondary, 15%);
        color:#fff;
    }
}
