@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Open+Sans:400,400i,700,800|PT+Sans:700|Pacifico&subset=latin-ext');

$font-lato:'Lato', sans-serif;
$font-open-sans:'Open Sans', sans-serif;
$font-pacifico:'Pacifico', cursive;
$font-pt-sans:'PT Sans', sans-serif;

$font-weight-regular:400;
$font-weight-bold:700;
$font-weight-extrabold:800;
$font-italic:400i;