
.offer{
    .offer-item{
        box-shadow: 5px 5px 8px 0px $gray-500; 
        border-radius:10px;

        &:hover{
            transition: 1s;
            background-color: $blue;
            color:#fff;
            
            .fa{
                color:#fff!important;
            }

        }
        .fa{
            color:$blue;
        }
        
    }
}